################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SmartInventory.Product/v17/DocumentLayout.backup.json
